{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {{ parent() }}
    {% sw_include '@YourTheme/storefront/util/css-js-optimizer.html.twig' %}
{% endblock %}

{% block base_body %}
<div style="position:fixed;top:0;left:0;z-index:99999;background:green;color:white;padding:10px"> 
CSS & JS OPTIMIZER ACTIVE
</div>
<script type="text/plain" data-delay-src="/test-tracking.js"></script>
{{ parent() }}
{% endblock %}
